/* CSS declarations go here */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, rgba(100,100,100,1), rgba(50, 50, 50, 1)100%);
  background-attachment: fixed;
  color: white;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}
 
.container {
  margin: 0 auto;
  min-height: 100%;
}

.big-logo{
padding-left: 10%;
padding-right: 10%;
}

.about-jumbo{
  background-image: url('blurry3.jpg');
  color: blue gray;
  height: 60%;
}

.personal-jumbo{
  background-image: url('bg.jpg');
  color: white;
}

.main-jumbo{
  text-align: center;
  position: relative;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-align: center;
  background-repeat: no-repeat;
}


.main-jumbo .btn{
  margin-top: 20px;
  margin-bottom: 30px;
}

.main-jumbo h1{
  margin-top: 0px;
  padding-top: 20px;
}

.navbar-default{
  margin-bottom: 0px !important;
  background: transparent !important;
  border-width: 0px !important;
  box-shadow: none !important;
  color: white;
}

.login-form-sign-in{
  margin-top: 33%;
  margin-bottom: auto;
}


.login-link-text{
  color: white;
}
.navbar-default .navbar-brand{
  color: white;
}

.cover-panel{
  
}

ul {
  list-style-type: none;
}

.campaign-panel{
  width: 60%;
}

.blank-campaign-panel{
  margin-left: 40px;
}

.about-col{
  text-align: center;
}
.bs-docs-section{
  margin-top: 100px;
}


.bs-component{

}